[submodule "theme/flasky"]
	path = theme/flasky
	url = git@github.com:fjavieralba/flasky.git
[submodule "theme/pelican-bootstrap3"]
	path = theme/pelican-bootstrap3
	url = git@github.com:zonyitoo/pelican-bootstrap3.git
