{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>(･ิω･ิ) Hey Yo. Administrator!</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        {% block adminnav %}
        <li><a href="/blog/admin/users">Users</a></li>
        <li><a href="/blog/admin/articles">Articles</a></li>
        {% endblock %}
      </ul>
    </div>
    <div class="col-md-10" id="admin_right">
      {% block admincontent %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
