
{% extends "admin.html" %}

{% block head %}
<link href="/static/bootstrap-datetimepicker/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="/static/bootstrap-datetimepicker/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block adminnav %}
<li><a href="/blog/admin/users">Users</a></li>
<li class="active"><a href="/blog/admin/articles">Articles</a></li>
{% endblock %}

{% block admincontent %}
<div class="row">
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon"><i class="icon-th"></i></span>
      <input type="text" class="datepicker form-control" placeholder="Select a date">
    </div>
  </div>
  <div class="col-md-3 col-md-offset-4">
    <a href="/blog/newpost" class="btn btn-primary btn-block">New post</a>
  </div>
</div>
<hr/>
<div id="article_table">
</div>
<script>
  var on_changedate = function(date) {
    $.ajax({
      url: '/blog/ajax/get/admin/articles',
      dataType: 'json',
      async: true,
      data: {date: date.toUTCString()},
      success: function(response) {
        var table = '<table class="table table-hover"><thead><tr><th></th><th>Title</th><th>Tags</th><th>Date</th><th></th><thead>'
        + '<tbody>';
        if (response.success) {
          for (var i = 0; i < response.articles.length; ++ i) {
            table += '<tr>';
            table += '<th>' + (i + 1) + '</th>';
            table += '<th><a href="/blog/article/' + response.articles[i]._id + '">' + response.articles[i].title + '</a></th>';
            table += '<th>';
            for (var j = 0; j < response.articles[i].tags.length; ++ j) {
              table += '<span class="label label-default">' + response.articles[i].tags[j].name + '</span>&nbsp;';
            }
            table += '</th>';
            table += '<th>' + response.articles[i].date + '</th>';
            table += '<th><a class="btn btn-primary btn-xs" href="/blog/edit/' + response.articles[i]._id + '">Edit</a></th>';
          }
        }

        $('#article_table').html(table);
      }
    });
    $('.datepicker').datepicker('hide');
  };

  $('.datepicker').datepicker({
    format: 'yyyy-mm',
    viewMode: 'months',
    minViewMode: 'months',
    timezone: 'Asia/Shanghai',
    todayHighlight: true
  }).on('changeDate', function(ev) {
    on_changedate(ev.date);
  });

  $(document).ready(function() {
    var today = new Date();
    today.setUTCDate(1);
    today.setUTCHours(8);
    today.setUTCMinutes(0);
    today.setUTCSeconds(0);
    today.setUTCMilliseconds(0);
    on_changedate(today);
  });
  
</script>
<hr/>
{% endblock %}
