{% extends "base.html" %}

{% block title %}{{ article["title"] }}{% end %}

{% block head %}
<link href="/static/css/article.css" rel="stylesheet"/>
<style>
  .article-comment-block .page-header {
    margin-top: 10px;
  }
</style>

{% end %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-hader">
        <h1>{{ article["title"] }}</h1>
      </div>

      <div class="row article-meta">
        <div class="col-md-4">
          <h4><i class="icon-calendar"></i> {{ article["date"].strftime("%b %d").upper() }}</h4>
        </div>
        <div class="col-md-8">
          <h4 class="text-right">
            {% for art_tag in article["categories"] %}
            &nbsp;<a href="/blog/category/{{ art_tag['_id'] }}"><span class="label label-default">{{ art_tag["name"] }}</span></a>
            {% end %}
          </h4>
        </div>
      </div>

      <div class="article-entry">
        {% raw article["content"] %}
      </div>

      <div class="article-footer">
        <p class="text-right">
          {% if _user %}
          <a href="/blog/edit/{{ article['_id'] }}"id="editButton"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;&nbsp;
          {% end %}
          <!--<a href="#"><span class="glyphicon glyphicon-share"></span> Share</a>&nbsp;&nbsp;-->
          <!--<a href="#disqus_thread"><span class="glyphicon glyphicon-comment"></span> Comment</a>-->
        </p>
      </div>

      <ul class="pager">
        <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Newer</a></li>
        <li class="next"><a href="#">Older <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>

      <div class="article-comment-block">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'zonyitooblog'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
    <div class="col-md-4">
      {% if _user %}
      <div class="panel panel-default">
        <a type="button" class="btn btn-primary btn-lg btn-block" id="newpost_button" href="/blog/edit">New post</a>
      </div>
      {% end %}
      {% include "sidebar.html" %}
    </div>
  </div>

</div>
{% end %}
