<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog of Y. T. Chung">
    <meta name="author" content="Y. T. Chung">
    <title>{% block title %}Blog{% end %} | YTBlog -- Learn from the best</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/css/fonts.css" rel="stylesheet"/>
    <link href="/static/css/codehilite.css" rel="stylesheet"/>

    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <style>
      body {
        padding-top: 70px;
        padding-bottom: 40px;
        color: #5a5a5a;
      }
      
    </style>

    {% block head %}
    {% end %}
  </head>
  <body>
    {% block nav %}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">YTBlog</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if nav_choose == "home" %}class="active"{% end %}><a href="/">Home</a></li>
            <li {% if nav_choose == "blog" %}class="active"{% end %}><a href="/blog">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if _user %}
            <li {% if nav_choose == "login" %}class="active"{% end %}><a href="/user/logoff"><i class="icon-user"></i> {{ _user["screen_name"] }}</a></li>
            {% else %}
            <li {% if nav_choose == "login" %}class="active"{% end %}><a href="/user/login"><i class="icon-user"></i> Login</a></li>
            {% end %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
    {% end %}

    {% block content %}
    {% end %}

    <footer>
      <div class="container">
        <hr>
        <p class="pull-right"><i class="icon-arrow-up"></i> <a href="#">Back to top</a></p>
        <p>&copy; 2013 Y. T. Chung &middot; Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://www.tornadoweb.org/" target="_blank">Tornado</a></p>
      </div>
    </footer>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>


