<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog of Y. T. Chung">
    <meta name="author" content="Y. T. Chung">
    <title>{% block title %}Blog{% endblock %} | YTBlog -- Learn from the best</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!--<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>-->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/css/fonts.css" rel="stylesheet"/>
    <link href="/static/css/codehilite.css" rel="stylesheet"/>

    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <style>
      body {
        padding-top: 70px;
        padding-bottom: 40px;
        color: #5a5a5a;
      }
      
    </style>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">YTBlog</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if nav_choose == "home" %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if nav_choose == "blog" %}class="active {% endif %}dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog/archive">Archive</a></li>
                <li class="divider"></li>
                {% for tag in nav_data['tags'] %}
                <li><a href='/blog/category/{{ tag["_id"] }}'><span class="glyphicon glyphicon-tag"></span> {{ tag["name"] }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li {% if nav_choose == "admin" %}class="active {% endif %}dropdown"><a href="/blog/admin" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> Manager</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="disabled">
                    {% if nav_data['user'] %}
                    <img src="{{ nav_data['user']['avatar_url'] }}"/>
                    &nbsp; {{ nav_data['user']['screen_name'] }}
                    {% else %}
                    <span class="glyphicon glyphicon-user"></span>&nbsp; Not logined.
                    {% endif %}
                  </a>
                </li>
                <li class="divider"></li>
                {% if nav_data['user'] %}
                <li><a href="/blog/admin"><span class="glyphicon glyphicon-wrench"></span> Admin Page</a></li>
                <li><a href="/blog/admin/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                <li><a href="/blog/admin/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="container">
        <hr>
        <p class="pull-right"><i class="icon-arrow-up"></i> <a href="#">Back to top</a></p>
        <p>&copy; 2013 Y. T. Chung &middot; Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://flask.pocoo.org/" target="_blank">Flask</a></p>
      </div>
    </footer>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>


