{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
<link href="/static/css/blog-carousel.css" rel="stylesheet"/>
<link href="/static/css/article.css" rel="stylesheet"/>
<script src="/static/js/newpost.js"></script>
{% endblock %}

{% block content %}
<div id="indexCarousel" class="carousel slide">
  <div class="carousel-indicators">
    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
    {% for index in range(1, carousels|length  + 1) %}
    <li data-target="#indexCarousel" data-slide-to="{{ index }}"></li>
    {% endfor %}
  </div>
  <div class="carousel-inner">

    <div class="item active">
      <div class="innerImg"><img src="/static/img/index-banner.jpg" alt=""/></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Hey, I'm Y. T. <u>CHUNG</u>.</h1>
          <p class="lead">Welcome to my blog!</p>
          <a class="btn btn-lg btn-primary" href="/">About <b>ME</b></a>
        </div>
      </div>
    </div>

    {% for carousel in carousels %}
    <div class="item" style="background: url({{ carousel['img'] }}) center center; background-repeat: no-repeat; background-size: 100%">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ carousel["title"] }}</h1>
          <p class="lead">
            <i class="icon-calendar"></i> {{ carousel["date"].strftime("%b %d %Y").upper() }}&nbsp;
            {% for tag in carousel["categories"] %}
            <span class="badge">{{ tag["name"] }}</span>&nbsp;
            {% endfor %}
          </p>
          <a class="btn btn-lg btn-primary" href="/blog/article/{{ carousel['_id'] }}">Jump to</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#indexCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#indexCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- blogCarousel -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for ar in articles %}
      <div class="article-container">
        <div class="page-header">
          <h3><i class="icon-calendar"></i> {{ ar["date"].strftime("%b %d %Y").upper() }}</h3>
          <h1><a href="/blog/article/{{ ar['_id'] }}">{{ ar["title"] }}</a></h1>
          <p>
            {% for tag in ar["categories"] %}
            <a href="/blog/category/{{ tag['_id'] }}"><span class="badge">{{ tag["name"] }}</span></a>&nbsp;
            {% endfor %}
          </p>
        </div>
        
        <div class="article-entry">
          {{ ar["content"]|safe }}
        </div>
        <div class="article-footer">
          <p style="margin-top: 20px; margin-bottom: 20px;">
            {% if _user %}
            <a href="/blog/edit/{{ ar['_id'] }}" class="pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;&nbsp;
            {% endif %}
            <!--<a href="#"><span class="glyphicon glyphicon-share"></span> Share</a>&nbsp;&nbsp;
            <a href="/blog/article/{{ ar['_id'] }}"><span class="glyphicon glyphicon-comment"></span> Comment</a>-->
          </p>
        </div>
      </div>
      <hr/>
      {% endfor %}

      <a class="btn btn-lg btn-default btn-block pull-right" href="/blog/archive">Archives</a>

    </div>
    <div class="col-md-4">
      {% if _user %}
      <div class="panel panel-default">
        <a type="button" class="btn btn-primary btn-lg btn-block" id="newpost_button" href="/blog/edit">New post</a>
      </div>
      {% endif %}
      {% include "sidebar.html" %}
    </div>
  </div>
</div>
{% endblock %}
