{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
<link href="/static/css/blog-carousel.css" rel="stylesheet"/>
<link href="/static/css/article.css" rel="stylesheet"/>
<script src="/static/js/newpost.js"></script>
{% endblock %}

{% block content %}
<div id="indexCarousel" class="carousel slide">
  <div class="carousel-indicators">
    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
    {% for index in range(1, carousels|length  + 1) %}
    <li data-target="#indexCarousel" data-slide-to="{{ index }}"></li>
    {% endfor %}
  </div>
  <div class="carousel-inner">

    <div class="item active">
      <div class="innerImg"><img src="/static/img/index-banner.jpg" alt=""/></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Hey, I'm Y. T. <u>CHUNG</u>.</h1>
          <p class="lead">Welcome to my blog!</p>
          <a class="btn btn-lg btn-primary" href="/">About <b>ME</b></a>
        </div>
      </div>
    </div>

    {% for carousel in carousels %}
    <div class="item" style="background: url({{ carousel['img'] }}) center center; background-repeat: no-repeat; background-size: 100%">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ carousel["title"] }}</h1>
          <p class="lead">
            <i class="icon-calendar"></i> {{ carousel["date"].strftime("%b %d %Y").upper() }}&nbsp;
            {% for tag in carousel["categories"] %}
            <span class="badge">{{ tag["name"] }}</span>&nbsp;
            {% endfor %}
          </p>
          <a class="btn btn-lg btn-primary" href="/blog/article/{{ carousel['_id'] }}">Jump to</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#indexCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#indexCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- blogCarousel -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="articles">
      </div>

      <div class="alert alert-info" style="display: none;" id="article_loading_alert"><p align="center"><span class="glyphicon glyphicon-refresh"></span> <b>Loading articles...</b></p></div>
      <div class="alert alert-warning" style="display: none;" id="article_nomore_alert"><p align="center"><span class="glyphicon glyphicon-info-sign"></span> <b>No more articles.</b></p></div>

    </div>
    <div class="col-md-4">
      {% if _user %}
      <div class="panel panel-default">
        <a type="button" class="btn btn-primary btn-lg btn-block" id="newpost_button" href="/blog/edit">New post</a>
      </div>
      {% endif %}
      {% include "sidebar.html" %}
    </div>
  </div>
</div>

<script>
  var page = 1;
  var count = 5;
  var isLast = false;
  var winH = $(window).height();
  var processing = false;

  var load_more_articles = function() {
    while (processing);
    processing = true;
    $("#article_loading_alert").show();
    $.ajax({
      url: '/blog/ajax/get/article', 
      dataType: 'json',
      async: false,
      data: {page: page, count: count}, 
      success: function(response) {
        if (response.success) {
          if (response.articles.length == 0) {
            isLast = true;
            $("#article_nomore_alert").show();
          }
          else {
            for (var i = 0; i < response.articles.length; ++ i) {
              var article_div = '<div class="article-container">' + 
                                  '<div class="page-header">' +
                                    '<h3><i class="icon-calendar"></i> ' + response.articles[i].date + '</h3>' +
                                      '<h1><a href="/blog/article/' + response.articles[i]._id + '">' + response.articles[i].title + '</a></h1>' +
                                        '<p>';
              for (var j = 0; j < response.articles[i].categories.length; ++ j) {
                article_div +=  '<a href="/blog/category/' + response.articles[i].categories[j]._id + '"><span class="badge">' + 
                  response.articles[i].categories[j].name + '</span></a>&nbsp;';
              }
              article_div += '</p>' +
                            '</div>' +
                            '<div class="article-entry">' + response.articles[i].content +
                            '</div>' +
                            '<div class="article-footer">' +
                              '<p style="margin-top: 20px; margin-bottom: 20px;">' +
                              '</p>' +
                            '</div>' +
                          '</div>' +
                          '<hr/>';
              $("#articles").append(article_div);
            } 
            page ++;
          }
          processing = false;
        }
      }
    });
    winH = $(window).height();
    $("#article_loading_alert").hide();
  };
  
  $(document).ready(function() {
    $(window).scroll(function() {
      if (isLast || processing) return;
      var pageH = $(document.body).height();
      var scrollT = $(window).scrollTop();
      var aa = (pageH - winH - scrollT) / winH;
      if (aa < 0.02) {
        load_more_articles();
      }
    });

    load_more_articles();
  });
</script>
{% endblock %}
