{% extends "base.html" %}

{% block title %}Category: {{ category["name"] }}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-tag"></span> {{ category["name"] }}</h1>
  </div>
  {% set isFirst = True %}
  {% for y in category["year"] %}
  {% if isFirst %}
    {% set isFirst = False %}
  {% else %}
  <hr/>
  {% endif %}
  <div class="row">
    <div class="col-md-2">
      <h2>{{ y }}</h2>
    </div>
    {% set isFirst = True %}
    <div class="col-md-10">
      {% for a in category["articles"][y] %}
      {% if isFirst %}
        {% set isFirst = False %}
      {% else %}
        <hr/>
      {% endif %}
      <div class="row">
        <div class="col-md-7">
          <a href='/blog/article/{{ a["_id"] }}'><h2>{{ a["title"] }}</h2></a>
        </div>
        <h4 class="text-right"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{ a["date"].strftime("%b %d").upper() }}</h4>
        <h4 class="text-right">
          {% for art_cat in a["categories"] %}
          <a href="/blog/category/{{ art_cat['_id'] }}"/><span class="label label-default">{{ art_cat['name'] }}</span></a>&nbsp;
          {% endfor %}
        </h4>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
