{% extends "base.html" %}

{% block title %}Home{% end %}

{% block head %}
<style>
  #aboutHeader {
    background: url("/static/img/jumbotron.png") repeat center center;
    border-bottom: 6px solid #313131;
    border-top: 6px solid #313131;
    color: #fff;
    padding: 50px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    margin: -20px 0;
  }
  
  #aboutHeader .container {
    position: relative;
    z-index: 2;
  }

  #aboutHeader h1 {
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }

  #aboutHeader p {
    color: #edecea;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  
  .love {
    position: relative;
    text-align: center;
    background: transparent;
    //text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  }

  .love .col-md-6, .love .col-md-4, .love .col-md-8 {
    text-align: left;
  }

  .love h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1;
    margin: 60px 0 10px;
  }
  
  .love h2 {
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .love .love-byline {
    color: #999;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .love p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    //font-weight: 300;
  }
  
  .love img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .love .love-icon {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
  }

  hr {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
    height: 3px;
    margin: 60px 0;
  }

  #worldwide {
    width: 100%;
  }
</style>
<link href="/static/css/social.css" rel="stylesheet"/>
{% end %}

{% block content %}
<div id="aboutHeader" class="jumbotron">
  <div class="container">
    <h1>Hey, I'm Y. T. <u>CHUNG</u>.</h1>
    <p class="lead">I am a software engineer who has passions in web developing and artificial intelligence, with particular emphasis on server-side developing, computer vision, machine learning.</p>
    <div class="pull-right">
      <a class="btn btn-default btn-lg btn-success" href="mailto:zonyitoo@gmail.com"><i class="icon-comments"></i> Get in Touch</a>
    </div>
  </div>
</div><!--header-->

<div class="social">
  <div class="container">
    <ul class="social-links">
      <li class="linkedin">
        <a target="_blank" href="http://cn.linkedin.com/pub/yutang-chung/42/595/b79/" title="My work history"><i class="icon-linkedin-sign"></i> LinkedIn</a>
      </li>
      <li class="github">
        <a target="_blank" href="https://github.com/zonyitoo" title="My open-sources projects"><i class="icon-github"></i> Github</a>
      </li>
      <li class="weibo">
        <a target="_blank" href="http://weibo.com/zonyitoo/profile" title="My Weibo"><i class="icon-weibo"></i> Weibo</a>
      </li>
      <li class="facebook">
        <a target="_blank" href="https://www.facebook.com/yutang.chung.7" title="Contact me"><i class="icon-facebook-sign"></i> Facebook</a>
      </li>
      <li class="twitter">
        <a target="_blank" href="https://twitter.com/zonyitoo" title="Tweet me"><i class="icon-twitter"></i> Twitter</a>
      </li>
      <li class="googleplus">
        <a target="_blank" href="https://plus.google.com/107003787611364553956" title="Find me on Google Plus"><i class="icon-google-plus-sign"></i> Google+</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="love">
    <h1>I love engineering<span style="color: #d8a443;">.</span></h1>
    <p class="love-byline">Design and create things make me feel excited.</p>
    <div class="row">
      <div class="col-md-6">
        <h2>SYSUEduAdminSystem <span class="label label-danger">Python</span> <span class="label label-warning">Django</span></h2>
        <p>Developed an administration system with Python Language, using Django Web Framework and PostgreSQL RDBMS. The system contained three main modules: course management, score management, user management. We used software engineering methodology in project planning, design and implementation.</p>
        <ul>
          <li>Language: Python</li>
          <li>Web framework: Django</li>
          <li>DBMS: PostgreSQL</li>
          <li>Front-end framework: Bootstrap</li>
        </ul>
        <p>Released via the GPL License.</p>
        
      </div>
      <div class="col-md-6">
        <h2>DoubanFM Player <span class="label label-info">C++</span> <span class="label label-success">Qt5</span></h2>
        <img class="img-responsive" src="/static/img/douban.fm_102.png"/>
        <p>Released via the MIT License.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="btn-group pull-right">
          <a class="btn btn-default" href="http://sysueas.heroku.com" target="_blank"><i class="icon-home"></i> Site</a>
          <a class="btn btn-default" href="https://github.com/zonyitoo/SYSUEduAdminSystem" target="_blank"><i class="icon-code"></i> Source</a>
          <a class="btn btn-default" href="https://github.com/zonyitoo/EduAdminSystemDoc" target="_blank"><i class="icon-file"></i> Project Doc</a>
        </div>
      </div>
      <div class="col-md-6">
        <a class="btn btn-default pull-right" href="https://github.com/zonyitoo/doubanfm-qt" target="_blank"><i class="icon-code"></i> Source</a>
      </div>
    </div>
  </div><!-- engineering --!>

  <hr/>

  <div class="love">
    <h1>I love software stacks<span style="color: #be594e;">.</span></h1>
    <p class="love-byline">Solid stacks keep you focused on development and producing.</p>

    <div class="row">
      <div class="col-md-4">
        <i class="icon-code-fork love-icon icon-4x"></i>
        <p>C++ is my first programming language for learning OS apis and algorithms. Then I used Java for Android developing and studying Object-oriented programming. Python is my go-to language for web developing, video processing, machine learning and computer vision.</p>
      </div>
      <div class="col-md-4">
        <i class="icon-puzzle-piece love-icon icon-4x"></i>
        <p>By using tools like sources of Linux core-utils and FreeBSD's solid documents is the best way to know principles of operating systems. Books like <em>Effective C++</em>, <em>Programming Pearls</em> can tell you what are the best practices in programming engineering.</p>
      </div>
      <div class="col-md-4">
        <i class="icon-dashboard love-icon icon-4x"></i>
        <p>Tapping into open sources projects provides huge gains. Technologies are developing rapidly. The best way to learn is to read the sources of masterpieces. <a href="https://github.com">Github</a> provides me a chance to closer to masters.</p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="love">
    <h1>Let me show my abilities to you<span style="color: #d8a443;">.</span></h1>
    <p class="love-byline">I live in Guangzhou. I am avaliable for hire.</p>
    <img id="worldwide" class="img-responsive" src="/static/img/worldwide.svg"/>
  </div>
</div>

{% end %}
