{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<link href="/static/css/signin.css" rel="stylesheet"/>
<script>
  $(document).ready(function() {
    $(".alert").hide();
    $("#login_submit").click(function(e) {
      $.ajax({
        url: '',
        type: "POST",
        data: $("#login_form").serialize(),
        success: function(data) {
          if (data.success) {
            location.href = "/blog/admin";
          }
          else {
            $(".alert").show();
          }
        },
        error: function(xhr, errmsg, except) {
          alert(errmsg);
        }
      });
      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="alert alert-dismissable alert-danger fade in">
    <b>Email or Password is invalid.</b>
  </div>
  <form class="form-signin" id="login_form">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" name="email" class="form-control" placeholder="Email address" autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password">
    <!--<label class="checkbox">
      <input type="checkbox" value="remember" name="remember"> Remember me
    </label>-->
    <button class="btn btn-lg btn-primary btn-block" type="button" id="login_submit">Login</button>
  </form>
</div>
{% endblock %}

